@import "../../../../variables";
@import "../../../../styles/mixins";
@import "../../../../styles/colors";

.card {
  padding: 20px;
  border: 5px solid $paradise-pink;
  box-shadow: 0 0 0 5px $charcoal;
  border-radius: $card-border-radius;

  &__side-photo {
    border: 2px solid $charcoal;
    height: calc(248px + (100vw / 320));
    width: calc(230px + (100vw / 320));
    box-shadow: $pink-shadow;
    border-radius: $card-border-radius;
  }

  &__link {
    color: $paradise-pink;
  }

  &__link:hover {
    text-decoration-color: $cultured;
  }

  &__text {
    @include scaleText(15px);
  }

  &__pill {
    font-weight: bold;
    border-radius: $card-border-radius;
    background: $cultured;
    color: $gunmetal;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: $pink-shadow;
    border: 2px solid $charcoal;
  }
}

.section {
  padding-top: 17vh;
  padding-bottom: 17vh;

  &--first {
    padding-top: 10px;
    padding-bottom: 17vh;
  }
}
