@import "../../../../variables";
@import "../../../../styles/mixins";
@import "../../../../styles/colors";

.card {
  padding: 20px;
  border: 5px solid $tart-orange;
  box-shadow: 0 0 0 5px $jet;
  border-radius: $card-border-radius;

  &__side-photo {
    border: 2px solid $jet;
    height: calc(257px + (100vw / 320));
    width: calc(230px + (100vw / 320));
    box-shadow: $tart-orange-shadow;
    border-radius: $card-border-radius;
  }

  &__link {
    color: $tart-orange;
  }

  &__link:hover {
    text-decoration-color: $cultured;
  }

  &__text {
    @include scaleText(15px);
  }

  &__pill {
    font-weight: bold;
    border-radius: $card-border-radius;
    background: $cultured;
    color: $eerie-black;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: $tart-orange-shadow;
    border: 2px solid $jet;
  }
}

.section {
  padding-top: 17vh;
  padding-bottom: 17vh;
}
