<section class="row align-items-center justify-content-center g-0 section vh-100" id="intro">
  <header class="col-12 col-md-10 col-lg-8 col-xxl-6 card">
    <svg viewBox="0 0 169 60">
      <use href="assets/icons/icons.svg#welcome-card"></use>
    </svg>
  </header>
</section>

<section class="row align-items-center justify-content-center g-0 section" id="about">
  <article class="col-12 col-md-10 col-lg-8 col-xxl-6 card">
    <header class="row">
      <div class="col-12">
        <h1 class="paradise-pink mb-3"><b>About Me</b></h1>
      </div>
    </header>

    <div class="row card__text">
      <div class="col-12">
        <img
          alt="profile"
          class="card__side-photo d-block float-none float-md-start me-auto ms-auto mb-3 mb-md-4 mt-md-4 me-md-4"
          src="../../../../assets/images/profile.avif"
        />
        <div>
          Hi, I'm Alessandro and as you read before in the giant sign above I'm a Front End Developer. I've worked in a
          <a class="card__link" href="#jpanik">small software business</a> and currently working in a
          <a class="card__link" href="#accenture">major consulting multinational</a>. Right now my focus is on improving and developing my
          skills that I use at work, but I'm always interested in trying new stuff out and learning more. I have many side-projects and
          ideas to realize and hopefully they will see the light soon, so stay tuned!
        </div>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-12">
        <h2 class="paradise-pink mb-3"><b>My Skills</b></h2>
      </div>
    </div>

    <div class="row mb-2 card__text">
      <div class="col-12">Here some languages, frameworks and technologies that I'm using:</div>
    </div>

    <div class="row card__text">
      <div *ngFor="let pill of pills" class="col-auto">
        <p class="card__pill">
          {{ pill }}
        </p>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-12">
        <h2 class="paradise-pink mb-3"><b>What's Next</b></h2>
      </div>
    </div>

    <div class="row card__text">
      <div class="col-12">
        I aspire to be a Game Developer and it has been a dream of mine since I've realized how games make people engaged and passionate,
        and I always wanted to build something that would create that effect.
      </div>
    </div>
  </article>
</section>

<section class="row align-items-center justify-content-center g-0 section" id="work">
  <article class="col-12 col-md-10 col-lg-8 col-xxl-6 card">
    <header class="row">
      <div class="col-12">
        <h1 class="paradise-pink mb-3"><b>Work</b></h1>
      </div>
    </header>

    <div class="row card__text">
      <div class="col-12">
        <app-accordion>
          <app-panel [title]="'Accenture'" id="accenture">
            <p class="mt-1">February 2021 - On Going</p>
            <p class="accordion__inner-title paradise-pink">Junior Front End Developer</p>
            <ul>
              <li class="accordion__list-item">Developed and maintained a customer service platform for the italian post service</li>
              <li class="accordion__list-item">
                Worked in an Scrum team, applied its methodologies and participated actively in the project phases
              </li>
              <li class="accordion__list-item">Technologies used: Angular, NgRx, RxJs, Javascript (ES6+), SCSS</li>
            </ul>
          </app-panel>
          <app-panel [title]="'JPanik'" id="jpanik">
            <p class="mt-1">January 2020 - February 2021</p>
            <p class="accordion__inner-title paradise-pink">Junior Full Stack Developer</p>
            <ul>
              <li class="accordion__list-item">Developed and maintained an enterprise web platform for clinical-hospital management</li>
              <li class="accordion__list-item">
                Integrated and developed an application that analyzes, process and displays an interactive graph through Chart.js library
              </li>
              <li class="accordion__list-item">
                Technologies used: Angular/AngularJS, Java/Java EE, Spring, REST API, PostgreSQL, MongoDB, Jira
              </li>
            </ul>
          </app-panel>
          <app-panel [title]="'University'">
            <p class="mt-1">September 2016 – April 2020</p>
            <p class="accordion__inner-title"><span class="paradise-pink">Sapienza University of Rome</span> - Computer Science</p>
            <ul>
              <li class="accordion__list-item">
                <span class="paradise-pink"><u>E-Quality</u></span
                >: developed a game to raise awareness to children about gender equality, in collaboration with the Italian Regional
                Councilor for Equal Opportunities
              </li>
              <li class="accordion__list-item">
                <span class="paradise-pink"><u>Curiosone Bot</u></span>
                : interactive chat bot written in Java during the Programming Methodologies course
              </li>
              <li class="accordion__list-item">
                <span class="paradise-pink"><u>Airborne Assault</u></span>
                : developed a game integrated into Curiosone Bot using the libGDX library
              </li>
            </ul>
          </app-panel>
        </app-accordion>
      </div>
    </div>
  </article>
</section>

<section class="row align-items-center justify-content-center g-0 section" id="projects">
  <article class="col-12 col-md-10 col-lg-8 col-xxl-6 card">
    <header class="row">
      <div class="col-12">
        <h1 class="paradise-pink mb-3"><b>Projects</b></h1>
      </div>
    </header>
    <div class="row">
      <div class="col-12">
        <app-carousel [slides]="slides"></app-carousel>
      </div>
    </div>
  </article>
</section>
