@import "../../../variables";

.side-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0,0,0,0.5);

  .menu {
    background: $footer-color;
  }
}

.menu-text {
  color: $font-color;
  font-weight: bold;
  font-size: 25px;
}

.menu-text:hover {
  text-decoration: underline;
  text-decoration-color: $title-color;
}

.close-button {
  cursor: pointer;
  font-size: 25px;
}

.close-button:hover {
  color: $title-color;
}
