@import "../../../variables";

.side-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0,0,0,0.5);

  .menu {
    background: $footer-color;

    .menu-text {
      color: $font-color;
      font-weight: bold;
      font-size: 25px;
      text-decoration: none;
    }

    .menu-text:hover {
      text-decoration: underline;
      text-decoration-color: $title-color;
    }

    .close-button {
      width: 32px;
      height: 32px;
      fill: $font-color
    }

    .close-button:hover {
      fill: $title-color;
    }

    @media screen and (min-width: 769px){
      .social-media-wrapper {
        margin-top: calc(100vh - 225px)
      }
    }

    @media screen and (max-width: 768px){
      .social-media-wrapper {
        margin-top: calc(100vh - 275px)
      }
    }
  }
}
