@import "../../../variables";
@import "../../../styles/mixins";

.side-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0,0,0,0.5);

  .menu {
    background: $footer-color;

    .menu-text {
      color: $font-color;
      font-weight: bold;
      @include scaleText(25px);
      text-decoration: underline;
      text-decoration-color: $title-color;
    }

    .menu-text:hover {
      color: $title-color;
      text-decoration-color: $font-color;
    }

    .close-button {
      @include scaleSvg(32px);
      fill: $font-color
    }

    .close-button:hover {
      fill: $title-color;
    }
  }
}
