%clicked-item{
  color: darkcyan;
  font-weight: bold;
  text-decoration: underline;
  font-size: 32px;
}

.nav-item a {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.nav-item a:hover {
  @extend %clicked-item
}

.nav-item-clicked a {
  @extend %clicked-item
}
