@import "../../../variables";
@import "../../../styles/mixins";

.social-icon {
  fill: $font-color;
  @include scaleSvg(32px)
}

.social-icon:hover {
  fill: $title-color;
}

.social-button {
  border: none;
  background: none;
}
