<div @fadeInGrow class="row align-items-center justify-content-center" [ngClass]="{'g-0': !isFooter}">

  <div @item class="text-center" [ngClass]="isFooter ? 'col-auto' : 'col-6 col-lg-3 mb-3'">
    <button (click)="openSite('github.com/AlessandroRoic')" class="social-button" type="button">
      <svg class="social-icon">
        <use href="assets/icons/github.svg#github"></use>
      </svg>
    </button>
  </div>

  <div @item class="text-center" [ngClass]="isFooter ? 'col-auto' : 'col-6 col-lg-3 mb-3'">
    <button (click)="openSite('linkedin.com/in/alessandroroic')" class="social-button" type="button">
      <svg class="social-icon">
        <use href="assets/icons/linkedin.svg#linkedin"></use>
      </svg>
    </button>
  </div>

  <div @item class="text-center" [ngClass]="isFooter ? 'col-auto' : 'col-6 col-lg-3 mb-3'">
    <button (click)="openSite('')" class="social-button" type="button">
      <svg class="social-icon">
        <use href="assets/icons/cv.svg#cv"></use>
      </svg>
    </button>
  </div>

  <div @item class="text-center" [ngClass]="isFooter ? 'col-auto' : 'col-6 col-lg-3 mb-3'">
    <button (click)="openSite('')" class="social-button" type="button">
      <svg class="social-icon">
        <use href="assets/icons/email.svg#email"></use>
      </svg>
    </button>
  </div>

</div>
