<div [className]="buttonClass">
  <button class="d-flex justify-content-between"
          [className]="buttonClass"
          [ngClass]="{'button-opened': opened}"
          (click)="openAccordion()">
    <span>{{title}}</span>
    <svg [@rotateArrow]="opened ? 'open' : 'close'" class="align-self-center arrow"
         xmlns="http://www.w3.org/2000/svg"
         fill-rule="evenodd" clip-rule="evenodd">
      <path d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z"/>
    </svg>
  </button>
  <div [@accordionSlide]="opened ? 'open' : 'close'"
       class="accordion-text">
    <ng-content></ng-content>
  </div>
</div>
