@import "../../../../../variables";
@import "../../../../../styles/mixins";

.accordion {

  &__button {
    width: 100%;
    color: $cultured;
    background-color: $gunmetal;
    border: 0;
  }

  &__button--opened {
    border-bottom: 3px solid $paradise-pink;
  }

  &--first {

    border-bottom: 3px solid $paradise-pink;

    .accordion__button {
      border-radius: $card-border-radius $card-border-radius 0 0;
    }
  }

  &--middle {
    border-bottom: 3px solid $paradise-pink;
  }

  &--last {

    .accordion__button {
      border-radius: 0 0 $card-border-radius $card-border-radius;
    }

    .accordion__button--opened {
      border-bottom: 3px solid $paradise-pink;
      border-radius: 0;
    }

    .accordion__text {
      border-radius: 0 0 $card-border-radius $card-border-radius;
    }

  }

  &__arrow {
    @include scaleSvg(24px);
    fill: $cultured
  }

  &__text {
    padding: 5px 10px 5px 10px;
    background: $charcoal;
    @include scaleText(15px);

    .accordion__list-item::marker {
      color: $paradise-pink !important;
      content: "●" !important;
    }

    .accordion__list-item {
      padding-left: 5px;
    }
  }

  &__title {
    font-weight: 600;
    font-style: italic;
  }

}
