<div [className]="buttonClass">
  <button
    (click)="openAccordion()"
    [ngClass]="{ 'accordion__button--opened': opened }"
    class="accordion__button d-flex justify-content-between"
  >
    <span>{{ title }}</span>
    <svg [@rotateArrow]="opened ? 'open' : 'close'" class="align-self-center accordion__arrow">
      <use href="assets/icons/icons.svg#chevron-up"></use>
    </svg>
  </button>
  <div [@accordionSlide]="opened ? 'open' : 'close'" class="accordion__text">
    <ng-content></ng-content>
  </div>
</div>
