@import "../../../../../variables";


%button-common {
  width: 100%;
  color: $cultured;
  background-color: $gunmetal;
  border: 0;
}

.arrow {
  height: 24px;
  width: 24px;
  fill: $cultured
}

.accordion-btn-first {

  border-bottom: 3px solid $paradise-pink;

  button {
    @extend %button-common;
    border-radius: $card-border-radius $card-border-radius 0 0;
  }

  .button-opened {
    border-bottom: 3px solid $paradise-pink;
  }

}

.accordion-btn-middle {

  border-bottom: 3px solid $paradise-pink;

  button {
    @extend %button-common;
  }

  .button-opened {
    border-bottom: 3px solid $paradise-pink;
  }

}

.accordion-btn-last {

  button {
    @extend %button-common;
    border-radius: 0 0 $card-border-radius $card-border-radius;
  }

  .button-opened {
    border-bottom: 3px solid $paradise-pink;
    border-radius: 0;
  }

  .accordion-text {
    border-radius: 0 0 $card-border-radius $card-border-radius;
  }

}

.accordion-text {
  padding: 5px 10px 5px 10px;
  background: $charcoal;
}
