@import "../../../../variables";
@import "../../../../styles/mixins";

.side-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);

  .menu {
    background: $charcoal;

    &__text {
      color: $cultured;
      font-weight: bold;
      @include scaleText(25px);
      text-decoration: underline;
      text-decoration-color: $paradise-pink;

      &:hover {
        color: $paradise-pink;
        text-decoration-color: $cultured;
      }
    }

    &__close-button {
      @include scaleSvg(32px);
      fill: $cultured;

      &:hover {
        fill: $paradise-pink;
      }
    }
  }
}
