<div @sideNav class="container-fluid d-flex flex-column side-nav p-0">
  <div class="row vh-100 m-0">
    <div class="col-7 col-md-10 col-lg-9 col-xl-10" (click)="closeSideNav()"></div>

    <div @sideNavSlide class="menu col-5 col-md-2 col-lg-3 col-xl-2">
      <div class="d-flex flex-column h-100">
        <div class="row mt-4">
          <div class="col-2">
            <div (click)="closeSideNav()">
              <svg class="close-button">
                <use href="assets/icons/icons.svg#close-sidenav"></use>
              </svg>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-12 text-center">
            <div @fadeInGrow>
              <div class="mb-3" @item><a class="menu-text" href="#about" (click)="closeSideNav()">ABOUT</a></div>
              <div class="mb-3" @item><a class="menu-text" href="#work" (click)="closeSideNav()">WORK</a></div>
            </div>
          </div>
        </div>

        <div class="row flex-grow-1 align-items-end">
          <div class="col-12">
            <app-social-medias></app-social-medias>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
