@import "../../../../variables";
@import "../../../../styles/mixins";
@import "../../../../styles/colors";

.section {

  &__content-wrapper  {
    box-shadow: $card-shadow;
  }

  &__content {
    padding: 20px;
    border: 5px solid $tart-orange;
    box-shadow: 0 0 0 5px $jet;
    border-radius: $card-border-radius;
  }

  &__wrapper {
    padding-top: 17vh;
    padding-bottom: 17vh;
  }

  &__welcome {
    font-size: 0.84rem;
  }

  &__side-photo {
    border: 2px solid $jet;
    @include scaleHeight(257px);
    @include scaleWidth(230px);
    box-shadow: $tart-orange-shadow;
    border-radius: $card-border-radius;
  }

  &__pill {
    font-weight: bold;
    border-radius: $card-border-radius;
    background: $cultured;
    color: $eerie-black-2;
    margin-bottom: 10px;
    padding: 5px 8px 5px 8px;
    box-shadow: $tart-orange-shadow;
    border: 2px solid $eerie-black-2;
  }
}

