@import "../../../../variables";
@import "../../../../styles/mixins";

.arrow {
  @include scaleSvg(50px);
  color: $paradise-pink;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  &:hover {

  }

  &:active {
    transform: translateY(4px);
  }
}
