@import "../variables";
@import "../styles/mixins";

.logo {
  @include scaleSvg(90px);
}

.logo:hover {
  opacity: 0.75;
}

.menu-icon {
  fill: $font-color;
  @include scaleSvg(42px);
}

.menu-icon:hover {
  fill: $title-color;
}

footer {
  background-color: $footer-color;
}

.nav-scrolled {
  box-shadow: 1px 4px 14px 0 rgba(0,0,0,0.69);
  background-color: $main-background-color;
}
