@import "../variables";
@import "../styles/mixins";

.arrow {
  border-radius: 10%;
  border-style: solid;
  border-color: $title-color;
  background-color: $main-background-color;
  box-shadow: 0 0 6px black;
  @include scaleSvg(40px);
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.arrow:hover {
  background-color: $card-color
}

.arrow:active {
  background-color: $card-color;
  transform: translateY(4px);
}

.arrow-text {
  @include scaleSvg(32px);
  fill: $title-color;
}

.logo {
  @include scaleSvg(90px);
}

.logo:hover {
  opacity: 0.75;
}

.menu-icon {
  fill: $font-color;
  @include scaleSvg(42px);
}

.menu-icon:hover {
  fill: $title-color;
}

.copyright-text {
  color: grey;
}

footer {
  background-color: $footer-color;
}

.nav-scrolled {
  box-shadow: 1px 4px 14px 0 rgba(0,0,0,0.69);
  background-color: $main-background-color;
}
