<app-sidebar *ngIf="sideNavOpened"></app-sidebar>

<div class="container-fluid vh-100 w-100">

  <nav class="navbar fixed-top p-0" [ngClass]="{'nav-scrolled': isScrolled}">
    <svg (click)="reloadPage()" class="navbar-toggler logo">
      <use href="assets/icons/site-logo.svg#site-logo"></use>
    </svg>
    <div class="navbar-toggler" (click)="showSideNav()" *ngIf="!sideNavOpened">
      <svg class="menu-icon">
        <use href="assets/icons/menu.svg#menu"></use>
      </svg>
    </div>
  </nav>

  <app-main></app-main>

  <footer class="row text-center py-2">
    <div class="col-12">
      <app-social-medias [isFooter]="true"></app-social-medias>
      <div class="row mt-1">
        <div class="col-12">
          © Copyright 2021 Alessandro Roic. All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>

  <app-back-top-arrow [isScrolled]="isScrolled"></app-back-top-arrow>

</div>
