@import "../variables";

.arrow {
  border-radius: 10%;
  border-style: solid;
  border-color: $title-color;
  background-color: $main-background-color;
  box-shadow: 0 0 6px black;
  height: 40px;
  width: 40px;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.arrow:hover {
  background-color: $card-color
}

.arrow:active {
  background-color: $card-color;
  transform: translateY(4px);
}

.arrow-text {
  width: 32px;
  height: 32px;
  fill: $title-color;
}

.logo {
  height: auto;
  width: 80px;
}

.logo:hover {
  opacity: 0.75;
}

.logo:active {
}

.menu-icon {
  fill: $font-color;
  width: 32px;
  height: 32px
}

.menu-icon:hover {
  fill: $title-color;
}

.copyright-text {
  color: grey;
}

footer {
  background-color: $footer-color;
}
