<div class="side-nav-bar"
     [ngClass]="{ 'side-nav-bar-collapsed': !showSideNav }">

  <!-- overlay -->
  <div class="side-nav-bar-overlay"
       [ngStyle]="{ 'transition': 'background-color ' + duration + 's, visibility ' + duration + 's' }"
       [ngClass]="{ 'side-nav-bar-overlay-collapsed': !showSideNav }"
       (click)="onSidebarClose()"></div>

  <!-- side bar-->
  <div class="side-nav-bar-menu-container"
       [ngStyle]="getSideNavBarStyle(showSideNav)">

    <!-- close button -->
    <div><span class="side-nav-bar-close" (click)="onSidebarClose()">x</span></div>

    <!-- side bar content -->
    <div class="side-nav-bar-content-container">
        <ul @fadeInGrow class="navbar-nav ml-auto">
          <li @item class="nav-item"><a class="nav-link menu-text" href="#about">ABOUT</a></li>
          <li @item class="nav-item"><a class="nav-link menu-text" href="#work">WORK</a></li>
        </ul>
    </div>
  </div>
</div>
