@import "../../../../variables";
@import "../../../../styles/mixins";

.navbar {
  padding: 10px !important;

  &-scrolled {
    box-shadow: 1px 4px 14px 0 rgba(0, 0, 0, 0.69);
    background-color: $eerie-black;
  }

  &__logo {
    @include scaleSvg(52px);

    &:hover {
      opacity: 0.75;
    }
  }

  &__menu {
    @include scaleSvg(42px);
    z-index: 9998;
    color: $cultured;

    &:hover {
      color: $tart-orange;
    }
  }
}
