<nav
  class="custom-navbar navbar fixed-top"
  id="navbar"
  [ngClass]="{
    'custom-navbar-scrolled': (scrollPage$ | async)?.scrolled,
    'custom-navbar-scrolled-up': (scrollPage$ | async)?.direction === scrollDirection.UP
  }"
>
  <svg class="custom-navbar__logo" (click)="reloadPage()" aria-label="site logo">
    <use href="assets/icons/icons.svg#site-logo"></use>
  </svg>

  <svg class="custom-navbar__menu" (click)="showSideNav()" *ngIf="(sideNavOpened$ | async) === false" aria-label="menu button">
    <use [attr.href]="'assets/icons/icons.svg#menu-right'"></use>
  </svg>
</nav>
