@import "../../../../variables";
@import "../../../../styles/mixins";

.navbar-scrolled {
  box-shadow: 1px 4px 14px 0 rgba(0, 0, 0, 0.69);
  background-color: $gunmetal;
}

.logo {
  @include scaleSvg(90px);

  &:hover {
    opacity: 0.75;
  }
}

.menu-icon {
  color: $cultured;
  @include scaleSvg(42px);

  &:hover {
    color: $paradise-pink;
  }
}

.navbar-scrolled {
  box-shadow: 1px 4px 14px 0 rgba(0, 0, 0, 0.69);
  background-color: $gunmetal;
}
