@import "../../../variables";
@import "../../../styles/mixins";

.title-color {
  color: $title-color;
}

.my-card {
  padding: 20px;
  border: 5px solid $title-color;
  box-shadow: 0 0 0 5px $card-color;
  border-radius: $card-border-radius;

  .card-font {
    fill: $font-color;
  }

  .side-photo {
    height: 168px;
    width: 150px;
    box-shadow: 0 0 10px black;
    border-radius: $card-border-radius;
  }

  .highlight {
    fill: $title-color;
    text-decoration: underline;
  }

  .text-underline {
    text-decoration: underline;
  }

}

.card-text {
  @include scaleText(16px);
}
