@import "../../../variables";
@import "../../../styles/mixins";

.title-color {
  color: $paradise-pink;
}

.my-card {
  padding: 20px;
  border: 5px solid $paradise-pink;
  box-shadow: 0 0 0 5px $charcoal;
  border-radius: $card-border-radius;

  .side-photo {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 168px;
    width: 150px;
    box-shadow: 0 0 10px black;
    border-radius: $card-border-radius;
  }

}

.card-text {
  @include scaleText(15px);
}

.first-section-spacing {
  padding-top: 10px;
  padding-bottom: 17vh;
}

.section-spacing {
  padding-top: 17vh;
  padding-bottom: 17vh;
}

.text-dashed {
  text-decoration-style: dashed;
}

%pill-style {
  border-radius: $card-border-radius;
  background: $silver;
  color: $gunmetal;
  margin-bottom: 10px;
}

.pill {
  @extend %pill-style;
  padding: 5px;
}

ul {
  padding: 0;
  margin: 0;
}

li::marker {
  color: $paradise-pink;
  content: "●";
}

li {
  @extend %pill-style;
  list-style-position: inside;
}
