@import "../../../variables";
@import "../../../styles/mixins";

.title-color {
  color: $title-color;
}

.my-card {
  padding: 20px;
  border: 5px solid $title-color;
  box-shadow: 0 0 0 5px $card-color;
  border-radius: $card-border-radius;

  .side-photo {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 168px;
    width: 150px;
    box-shadow: 0 0 10px black;
    border-radius: $card-border-radius;
  }

}

.card-text {
  @include scaleText(16px);
}

.first-section-spacing{
  padding-top: 10px;
  padding-bottom: 15vh;
}

.section-spacing {
  padding-top: 15vh;
  padding-bottom: 15vh;
}
