<section class="row align-items-center justify-content-center g-0 vh-100" id="intro">
  <div class="col-12 col-md-10 col-lg-8 col-xxl-6 my-card">
    <svg viewBox="0 0 169 60">
      <use href="assets/icons/icons.svg#welcome-card"></use>
    </svg>
  </div>
</section>

<section class="row align-items-center justify-content-center g-0 first-section-spacing" id="about">
  <div class="col-12 col-md-10 col-lg-8 col-xxl-6 my-card card-text">
    <div class="row">
      <div class="col-12">
        <h1 class="title-color mb-3">About Me</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img alt="profile" class="side-photo float-start" src="../../../assets/profile.jpg" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="row align-items-center justify-content-center g-0 section-spacing" id="work">
  <div class="col-12 col-md-10 col-lg-8 col-xxl-6 my-card card-text">
    <div class="row">
      <div class="col-12">
        <h1 class="title-color mb-3">Work</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-accordion>
          <app-panel [title]="'Accenture'">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </app-panel>
          <app-panel [title]="'JPanik'">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </app-panel>
          <app-panel [title]="'Education'">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </app-panel>
          <app-panel [title]="'Other'">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </app-panel>
        </app-accordion>
      </div>
    </div>
  </div>
</section>
