<section class="row align-items-center justify-content-center vh-100 g-0" id="intro">
  <div class="col-12 col-md-10 col-lg-8 col-xxl-6 my-card">
    <svg class="w-100 card-font" viewBox="0 0 169 60">
      <text x="0" y="15">
        Hello,
      </text>
      <text x="0" y="35">
        This is
      </text>
      <text class="highlight" x="50" y="35">
        Alessandro Roic
      </text>
      <text x="0" y="55">
        Front End Developer
      </text>
    </svg>
  </div>
</section>

<section class="row align-items-center justify-content-center g-0 card-spacing" id="about">
  <div class="col-12 col-md-10 col-lg-8 col-xxl-6 my-card card-text">
    <div class="row">
      <div class="col-12">
        <h1 class="title-color mb-3">About Me</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <img src="../../../assets/profile.jpg" class="side-photo" alt="profile">
      </div>
      <div class="col-12 col-lg-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="row align-items-center justify-content-center g-0 card-spacing" id="work">
  <div class="col-12 col-md-10 col-lg-8 col-xxl-6 my-card card-text">
    <div class="row">
      <div class="col-12">
        <h1 class="title-color mb-3">Work</h1>
      </div>
    </div>
    <div class="row">
      <app-accordion [content]="accordionList"></app-accordion>
    </div>
  </div>
</section>
