@import "variables";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/helpers';
@import '~bootstrap/scss/utilities/api';

body, html {
  background-color: $main-background-color;
  color: $font-color;
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}
