@import "variables";
@import "styles/custom_boostrap.scss";

body, html {
  background-color: $eerie-black;
  color: $cultured;
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: $spanish-grey;
  border-radius: $card-border-radius;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/Rubik-Regular.woff2) format('woff2');
}
