/// Fonts
$main-font: 'Rubik', sans-serif;

// Colors
$paradise-pink: #e84a5f;
$cultured: #eeeeee;
$silver: #C3C4C4;
$charcoal: #3a4750;
$gunmetal: #303841;
$eerie-black: #111417;

// Card
$card-border-radius: 12px;

//Box shadow
$pink-shadow: 8px 5px 0 -1px $paradise-pink;
