/// Fonts
$main-font: 'Rubik', sans-serif;

// Colors
$tart-orange: #F64E4D; // 232, 74, 95
$cultured: #eeeeee; // 238, 238, 238
$jet: #3F3E3D; // 58, 71, 80
$eerie-black:#252423; // 37, 36, 35
$eerie-black-2: #111417; // 17, 20, 23

// Card
$card-border-radius: 12px;

//Box shadow
$tart-orange-shadow: 8px 5px 0 -1px $tart-orange;
