/// Fonts
$main-font: 'Rubik', sans-serif;

// Colors
$paradise-pink: #e84a5f; // 232, 74, 95
$cultured: #eeeeee; // 238, 238, 238
$silver: #C3C4C4;
$charcoal: #3a4750; // 58, 71, 80
$gunmetal: #303841;
$eerie-black: #111417; // 17, 20, 23

// Card
$card-border-radius: 12px;

//Box shadow
$pink-shadow: 8px 5px 0 -1px $paradise-pink;
