@import "../../../../variables";
@import "../../../../styles/mixins";

.social {
  &__icon {
    fill: $cultured;
    color: $cultured;
    @include scaleSvg(32px);

    &:hover {
      fill: $paradise-pink;
      color: $paradise-pink;
    }
  }

  &__button {
    border: none;
    background: none;
  }

}
