@import "../../../../variables";
@import "../../../../styles/mixins";

.social-icon {
  fill: $cultured;
  @include scaleSvg(32px)
}

.social-icon:hover {
  fill: $paradise-pink;
}

.social-button {
  border: none;
  background: none;
}
