<div class="accordion-wrapper">
  <div class="accordion-btn" *ngFor="let element of content; let index = index;">
    <button class="accordion-btn d-flex justify-content-between"
            [ngClass]="{'button-opened': element.opened}"
            (click)="openAccordion(index)">
      <span>{{element.title}}</span>
      <svg [@rotateArrow]="element.opened ? 'open' : 'close'" class="align-self-center arrow" xmlns="http://www.w3.org/2000/svg"
           fill-rule="evenodd" clip-rule="evenodd">
        <path d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z"/>
      </svg>
    </button>
    <div @accordionSlide
         class="accordion-text"
         *ngIf="element.opened"
         [innerHTML]="element.content"></div>
  </div>
</div>
